body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
    color: darkslategray;
}
p {
    text-align: justify;
    margin: 0;
}
.gray {
    color: gray;
}
.cyan {
    color: #12b9fc;
}
.white {
    color: white;
}
.top-banner {
    display: flex;
    padding-top: 70px;
}
.half-width {
    margin: 0 0 150px 5%;
    width: 45%;
}
.half-width img {
    width: 95%;
    padding-right: 5%;
}
.link-button {
    background-image: linear-gradient(90deg,#32c1ff, #0181e9);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 30px;
}
.about-me-card {
    display: flex;
    background-image: url(images/shapes/bg-about-me.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.margin-0 {
    margin: 0;
}
.center {
    text-align: center;
}
.recipe-container {
    display: flex;
    margin: 0 5%;
}
.recipe-item {
    width: 29%;
    margin: 0 2%;
    box-shadow: 0 0 20px lightgray;
    border-radius: 25px;
}
.recipe-image {
    padding: 15px;
}
.recipe-image img {
    width: 100%;
    border-radius: 25px;
}
.recipe-content {
    padding: 0 15px;
}
.social-score {
    display: flex;
    margin: 7%;
    padding: 2% 0;
    box-shadow: 0 0 20px lightgray;
    border-radius: 25px;
    align-items: center;
}
.one-third {
    width: 33.33%;
}
footer {
    align-items: center;
    background-color: #07072c;
    padding: 5% 0;
}
.nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.671);
    position: fixed;
    width: 100%;
}
.logo {
    display: flex;
    padding-left: 2%;
    align-items: center;
}
.nav-links {
    display: flex;
    align-items: center;
    padding-right: 2%;
    margin-left: auto;
}
a h3 {
    padding: 0 15px;
}
.other-info {
    display: flex;
    border-top: 2px solid gray;
}
.one-fourth {
    width: 25%;
    padding: 30px;
}
.other-links {
    color: gray;
    font-size: 16px;
}
.other-links:hover {
    color: #12b9fc;
}

